@media (max-width: 516px) {
  .name-surname {
    font-size: 2rem;
  }
  .my-title {
    font-size: 0.8rem;
  }
  .social-media-common {
    border-radius: var(--borderRadius);
    border: 1px solid var(--blue);
    padding: 12px;
  }
  .social-media-links {
    padding-left: 9%;
    padding-right: 9%;
  }
  .things {
    grid-template-columns: auto;
  }
  .thingsCard {
    height: 150px;
  }
  .work-title {
    font-size: 1.2rem;
  }
  .work-companay {
    font-size: 0.9rem;
  }
  .work-location,
  .work-date,
  .work-details {
    font-size: 0.8rem;
  }

  /* SIDE BAR */
  .sidebardiv {
    display: flex;
  }
  .header-buttons {
    opacity: 0;
    transform: translateX(100%);
    border-radius: var(--borderRadius);
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    padding: 5px;
    background-color: var(--blue);
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 4px;
    box-shadow: 0 10px 30px var(--black);
    z-index: 10;
  }
  .header-button {
    color: var(--white);
    display: flex;
    width: -webkit-fill-available;
    text-align: center;
    align-items: center;
    padding-bottom: 4px;
    margin-right: 0px;
    justify-content: center;
  }
}

@media (max-width: 360px) {
  .name-surname {
    font-size: 1.8rem;
  }
  .my-title {
    font-size: 0.75rem;
  }
  .mailforhomepage {
    font-size: 0.84rem;
  }
  .social-media-common {
    border: 1px solid var(--blue);
    border-radius: var(--borderRadius);
    padding: 12px;
    height: 30px;
    width: 30px;
  }
  .social-media-links {
    padding-left: 11%;
    padding-right: 11%;
  }

  .workexperience-title,
  .work-title {
    font-size: 1rem;
  }
  .work-companay {
    font-size: 0.8rem;
  }
  .work-location,
  .work-date,
  .work-details {
    font-size: 0.7rem;
  }
}

@media (max-width: 280px) {
  .social-media-common {
    border-radius: var(--borderRadius);
    border: 1px solid var(--blue);
    padding: 12px;
  }
  .social-media-links {
    padding-left: 5%;
    padding-right: 5%;
  }
  .work-companay {
    font-size: 0.7rem;
  }
  .work-location,
  .work-date,
  .work-details {
    font-size: 0.6rem;
  }
}

/* SPECIFIC */
@media (max-width: 325px) {
  .name-surname {
    padding-left: 33px;
    padding-right: 33px;
  }
}
@media (min-width: 517px) {
  .header-buttons {
    display: flex !important;
    opacity: 1 !important;
    transform: translate(0) !important;
  }
}
