body {
  font-family: "Exo", sans-serif;
  background-color: var(--black);
}

.container {
  max-width: var(--maxWidth);
  margin-left: auto;
  margin-right: auto;
}

/* To select text by cursor */
*::selection {
  background-color: var(--blue);
  color: var(--white);
}
