.name-surname {
  color: var(--blue);
  font-size: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.my-title {
  font-size: 0.9rem;
  color: var(--grey);
  text-transform: uppercase;
  margin-bottom: var(--gutter);
}

.my-title-company {
  color: var(--yellow);
}

.about-my-title {
  line-height: 1.4;
  text-transform: none;
}

.about-spans {
  color: var(--yellow);
}
