.passwordGeneratorDiv {
  background-color: red;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 40px 50px;
  align-items: center;
  width: 100%;
}

.passwordResultDiv {
  background-color: green;
}

.passwordInputDiv {
}

.password-input {
  width: 100%;
  height: var(--fingerSize);
}
