.passwordGeneratorDiv {
  display: grid;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  grid-template-columns: 1fr 3fr;
  grid-gap: 40px 50px;
  align-items: center;
  width: 100%;
}

.passwordResultDiv {
  height: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  color: var(--white);
  font-weight: bold;
}

.passwordInputDiv {
}

.password-input {
  width: 100%;
  height: var(--fingerSize);
  font-size: xx-large;
  background-color: transparent;
  color: var(--white);
  border-radius: 9px;
  border: 1px solid var(--grey);
  padding: 0px 6px;
}

.passwordP {
  font-size: large;
}
