.section {
  text-align: center;
}

.section .container {
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  margin-top: var(--fingerSize);
}

.about-social-media-area {
  margin-bottom: 80px;
}
