.section {
  text-align: center;
}

.section .container {
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  margin-top: var(--fingerSize);
}

.mailforhomepage {
  color: var(--grey);
  font-weight: lighter;
}
