.sidebardiv {
  width: 100%;
  display: none;
}

.sidebar-menu-btn {
  width: var(--fingerSize);
  height: var(--fingerSize);
  cursor: pointer;
  background-color: inherit;
  margin-left: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.sidebar-icon {
  color: var(--blue);
  width: 2rem;
  height: 2rem;
  display: block;
}
