.technologies-container {
  text-align: center;
  align-items: center;
  margin-top: var(--gutter);
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

.technologies-title {
  color: var(--white);
  font-size: 1.6rem;
  border-bottom: 1px solid var(--grey);
  padding-bottom: 4px;
  display: flex;
}

.technologies-point {
  display: flex;
  text-align: center;
  align-items: center;
  margin-bottom: 5px;
  text-transform: uppercase;
  height: var(--gutter);
  color: var(--grey);
}

.technologies-lvl {
  display: flex;
  margin-bottom: var(--halfgutter);
  height: 14px;
  width: 100%;
  background-color: var(--grey);
}

.technologies-lvl-in100 {
  width: 100%;
  background-color: var(--blue);
}

.technologies-lvl-in90 {
  width: 90%;
  background-color: var(--blue);
}

.technologies-lvl-in75 {
  width: 75%;
  background-color: var(--blue);
}

.technologies-lvl-in50 {
  width: 50%;
  background-color: var(--blue);
}

.technologies-lvl-in25 {
  width: 25%;
  color: var(--blue);
  background-color: var(--blue);
}

.mb-education {
  margin-bottom: var(--fingerSize);
}
