:root {
  --black: #0a0f21;
  --grey: #babdc4;
  --blue: #3a8ee8;
  --yellow: rgb(235, 176, 76);
  --white: #fffdd9;
  --maxWidth: 1200px;
  --fingerSize: 40px;
  --gutter: 20px;
  --headerLogoSize: 40px;
  --borderRadius: 3px;
}
